In [1]:
import qlib
qlib.init(provider_uri='data/bin')
from qlib.data import D

[2200:MainThread](2021-02-19 19:17:15,207) INFO - qlib.Initialization - [config.py:276] - default_conf: client.
[2200:MainThread](2021-02-19 19:17:17,241) WARNING - qlib.Initialization - [config.py:292] - redis connection failed(host=127.0.0.1 port=6379), cache will not be used!
[2200:MainThread](2021-02-19 19:17:18,504) INFO - qlib.Initialization - [__init__.py:46] - qlib successfully initialized based on client settings.
[2200:MainThread](2021-02-19 19:17:18,505) INFO - qlib.Initialization - [__init__.py:47] - data_path=E:\Project\analyzeChineseFund\data\bin

In [2]:
msid = '000001_202102'
price = D.features([msid], ['$AccumulativeNetAssetValue', 'Ref($AccumulativeNetAssetValue, 1)'], start_time='2017-11-07')
price

                          $AccumulativeNetAssetValue  \
instrument    datetime
000001_202102 2017-11-07                       3.580
              2017-11-08                       3.574
              2017-11-09                       3.583
              2017-11-10                       3.598
              2017-11-13                       3.596
...                                              ...
              2021-02-04                       3.950
              2021-02-05                       3.963
              2021-02-08                       3.981
              2021-02-09                       4.009
              2021-02-10                       4.046

                          Ref($AccumulativeNetAssetValue, 1)
instrument    datetime
000001_202102 2017-11-07                               3.580
              2017-11-08                               3.580
              2017-11-09                               3.574
              2017-11-10                               3.583
              2017-11-13                               3.598
...                                                      ...
              2021-02-04                               3.953
              2021-02-05                               3.950
              2021-02-08                               3.963
              2021-02-09                               3.981
              2021-02-10                               4.009

[801 rows x 2 columns]

## test ref

In [3]:
msid = '000137_202102'
price = D.features([msid], ['$AccumulativeNetAssetValue', 'Ref($AccumulativeNetAssetValue, 1)'], start_time='2017-01-13', end_time='2017-03-10')
price

                          $AccumulativeNetAssetValue  \
instrument    datetime
000137_202102 2017-01-13                       1.279
              2017-01-16                         NaN
              2017-01-17                         NaN
              2017-01-18                         NaN
              2017-01-19                         NaN
              2017-01-20                       1.277
              2017-01-23                         NaN
              2017-01-24                         NaN
              2017-01-25                         NaN
              2017-01-26                       1.278
              2017-02-03                       1.278
              2017-02-06                         NaN
              2017-02-07                         NaN
              2017-02-08                         NaN
              2017-02-09                         NaN
              2017-02-10                       1.275
              2017-02-13                         NaN
              2017-02-14                         NaN
              2017-02-15                         NaN
              2017-02-16                         NaN
              2017-02-17                       1.276
              2017-02-20                         NaN
              2017-02-21                         NaN
              2017-02-22                         NaN
              2017-02-23                         NaN
              2017-02-24                       1.277
              2017-02-27                         NaN
              2017-02-28                         NaN
              2017-03-01                         NaN
              2017-03-02                         NaN
              2017-03-03                       1.277
              2017-03-06                         NaN
              2017-03-07                         NaN
              2017-03-08                         NaN
              2017-03-09                         NaN
              2017-03-10                       1.277

                          Ref($AccumulativeNetAssetValue, 1)
instrument    datetime
000137_202102 2017-01-13                                 NaN
              2017-01-16                               1.279
              2017-01-17                                 NaN
              2017-01-18                                 NaN
              2017-01-19                                 NaN
              2017-01-20                                 NaN
              2017-01-23                               1.277
              2017-01-24                                 NaN
              2017-01-25                                 NaN
              2017-01-26                                 NaN
              2017-02-03                               1.278
              2017-02-06                               1.278
              2017-02-07                                 NaN
              2017-02-08                                 NaN
              2017-02-09                                 NaN
              2017-02-10                                 NaN
              2017-02-13                               1.275
              2017-02-14                                 NaN
              2017-02-15                                 NaN
              2017-02-16                                 NaN
              2017-02-17                                 NaN
              2017-02-20                               1.276
              2017-02-21                                 NaN
              2017-02-22                                 NaN
              2017-02-23                                 NaN
              2017-02-24                                 NaN
              2017-02-27                               1.277
              2017-02-28                                 NaN
              2017-03-01                                 NaN
              2017-03-02                                 NaN
              2017-03-03                                 NaN
              2017-03-06                               1.277
              2017-03-07                                 NaN
              2017-03-08                                 NaN
              2017-03-09                                 NaN
              2017-03-10                                 NaN

## test fund without trading

In [4]:
msid = '001046_202102'
price = D.features([msid], ['$AccumulativeNetAssetValue', 'Ref($AccumulativeNetAssetValue, 1)'], start_time='2017-01-13', end_time='2017-03-10')
price

Empty DataFrame
Columns: [$AccumulativeNetAssetValue, Ref($AccumulativeNetAssetValue, 1)]
Index: []